<p class="chapterContentItemClass">SAGRES DE PRESSÃO (25CL)</p>
<p class="chapterContentPriceClass">1,50 €</p>

<p class="chapterContentItemClass">SAGRES DE PRESSÃO (30CL)</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">BOHEMIA (33CL)</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">BOHEMIA BOCK (33CL)</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">HEINEKEN (25CL)</p>
<p class="chapterContentPriceClass">1,70 €</p>

<p class="chapterContentItemClass">SAGRES RADLER (33CL)</p>
<p class="chapterContentPriceClass">2,50 €</p>

<p class="chapterContentItemClass">CORONA (35CL)</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">SOMERSBY MAÇÃ/FRUTOS VERMELHOS (33CL)</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">3 MONT'S</p>
<p class="chapterContentPriceClass">10 €</p>