<p class="chapterContentItemClass">MARACUJÁ</p>
<p class="chapterContentPriceClass"> </p>

<p class="chapterContentItemClass">2L</p>
<p class="chapterContentPriceClass">25 €</p>

<p class="chapterContentItemClass">4L</p>
<p class="chapterContentPriceClass">50 €</p>

<p class="chapterContentItemClass">8L</p>
<p class="chapterContentPriceClass">100 €</p>

<p class="chapterContentItemClass">MAÇÃ E KIWI</p>
<p class="chapterContentPriceClass"> </p>

<p class="chapterContentItemClass">2L</p>
<p class="chapterContentPriceClass">25 €</p>

<p class="chapterContentItemClass">4L</p>
<p class="chapterContentPriceClass">50 €</p>

<p class="chapterContentItemClass">8L</p>
<p class="chapterContentPriceClass">100 €</p>

<p class="chapterContentItemClass">FRUTOS VERMELHOS</p>
<p class="chapterContentPriceClass"> </p>

<p class="chapterContentItemClass">2L</p>
<p class="chapterContentPriceClass">25 €</p>

<p class="chapterContentItemClass">4L</p>
<p class="chapterContentPriceClass">50 €</p>

<p class="chapterContentItemClass">8L</p>
<p class="chapterContentPriceClass">100 €</p>

<p class="chapterContentItemClass">MANGA E MARACUJÁ</p>
<p class="chapterContentPriceClass"> </p>

<p class="chapterContentItemClass">2L</p>
<p class="chapterContentPriceClass">25,50 €</p>

<p class="chapterContentItemClass">4L</p>
<p class="chapterContentPriceClass">50 €</p>

<p class="chapterContentItemClass">8L</p>
<p class="chapterContentPriceClass">100 €</p>