<p class="chapterContentItemClass">BEEFEATER</p>
<p class="chapterContentPriceClass">5,50 €</p>

<p class="chapterContentItemClass">BIG BOSS</p>
<p class="chapterContentPriceClass">6,50 €</p>

<p class="chapterContentItemClass">NORDÉS</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">TANQUERAY TEN</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">STAR OF BOMBAY</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">CITADELLE</p>
<p class="chapterContentPriceClass">8 €</p>

<p class="chapterContentItemClass">GIN MARE</p>
<p class="chapterContentPriceClass">8 €</p>

<p class="chapterContentItemClass">G'VINE</p>
<p class="chapterContentPriceClass">8,50 €</p>

<p class="chapterContentItemClass">MONKEY 47</p>
<p class="chapterContentPriceClass">10 €</p>