<p class="chapterContentItemClass">ANTIGO MERCADO</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">BOÉMIO</p>
<p class="chapterContentPriceClass">8,50 €</p>

<p class="chapterContentItemClass">PINHEIRAL</p>
<p class="chapterContentPriceClass">8,50 €</p>

<p class="chapterContentItemClass">ARA DE TRAJANO</p>
<p class="chapterContentPriceClass">8,50 €</p>

<p class="chapterContentItemClass">CHARNECA</p>
<p class="chapterContentPriceClass">9 €</p>

<p class="chapterContentItemClass">LAMEIRA</p>
<p class="chapterContentPriceClass">9 €</p>