<p class="chapterContentItemClass">JAMESON</p>
<p class="chapterContentPriceClass">5,50 €</p>

<p class="chapterContentItemClass">BUSHMILLS</p>
<p class="chapterContentPriceClass">5,50 €</p>

<p class="chapterContentItemClass">JACK DANIELS</p>
<p class="chapterContentPriceClass">6,50 €</p>

<p class="chapterContentItemClass">MONKEY SHOULDER</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">J.WALKER BLACK LABEL</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">GENTLEMAN JACK</p>
<p class="chapterContentPriceClass">7,50 €</p>

<p class="chapterContentItemClass">OLD PARR 12 ANOS</p>
<p class="chapterContentPriceClass">9 €</p>

<p class="chapterContentItemClass">GLENROTHES 12 ANOS</p>
<p class="chapterContentPriceClass">10 €</p>