<p class="chapterContentItemClass">CAFE</p>
<p class="chapterContentPriceClass">0,80 €</p>

<p class="chapterContentItemClass">DESCAFEINADO</p>
<p class="chapterContentPriceClass">0,80 €</p>

<p class="chapterContentItemClass">PINGO</p>
<p class="chapterContentPriceClass">0,80 €</p>

<p class="chapterContentItemClass">MEIA DE LEITE</p>
<p class="chapterContentPriceClass">1 €</p>

<p class="chapterContentItemClass">CARIOCA DE CAFE</p>
<p class="chapterContentPriceClass">0,80 €</p>

<p class="chapterContentItemClass">CARIOCA DE LIMAO</p>
<p class="chapterContentPriceClass">0,80 €</p>

<p class="chapterContentItemClass">CARIOCA DUPLO</p>
<p class="chapterContentPriceClass">1 €</p>

<p class="chapterContentItemClass">CHA</p>
<p class="chapterContentPriceClass">1,20 €</p>

<p class="chapterContentItemClass">TORRADA</p>
<p class="chapterContentPriceClass">1,20 €</p>

<p class="chapterContentItemClass">TOSTA MISTA</p>
<p class="chapterContentPriceClass">3 €</p>