<p class="chapterContentItemClass">MOJITO *</p>
<p class="chapterContentPriceClass">7 €</p>

<p class="chapterContentItemClass">CAIPIRINHA *</p>
<p class="chapterContentPriceClass">6 €</p>

<p class="chapterContentItemClass">APEROL SPRITZ</p>
<p class="chapterContentPriceClass">6 €</p>

<p class="chapterContentItemClass">OLD FASHIONED</p>
<p class="chapterContentPriceClass">7 €</p>

<p class="chapterContentItemClass">WHISKEY SOUR</p>
<p class="chapterContentPriceClass">7 €</p>

<p class="chapterContentItemClass">VODKA SOUR *</p>
<p class="chapterContentPriceClass">7 €</p>

<p class="chapterContentItemClass">MOSCOW MULE</p>
<p class="chapterContentPriceClass">7 €</p>

<p class="chapterContentItemClass">ESPRESSO MARTINI</p>
<p class="chapterContentPriceClass">8 €</p>

<div class="chapterContentInfoDivClass">
    <p class="chapterContentItemClass"> </p>
    <p class="chapterContentItemClass">* SABORES DISPONÍVEIS:</p>
    <p class="chapterContentInfoItemClass">- MARACUJÁ</p>
    <p class="chapterContentInfoItemClass">- MANGA</p>
    <p class="chapterContentInfoItemClass">- MAÇÃ</p>
    <p class="chapterContentInfoItemClass">- KIWI</p>
    <p class="chapterContentInfoItemClass">- COCO</p>
    <p class="chapterContentInfoItemClass">- MORANGO</p>
    <p class="chapterContentInfoItemClass">- FRAMBOESA</p>
    <p class="chapterContentInfoItemClass">- FRUTOS VERMELHOS</p>
    <p class="chapterContentItemClass">* ACRESCE 1€ AO VALOR BASE</p>
</div>