<p class="chapterContentItemClass">LOVE 66</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass" style="padding-top: 0;">(MELÃO, MELANCIA, MARACUJÁ E MENTA)</p>
<p class="chapterContentPriceClass" style="padding-top: 0;"> </p>

<p class="chapterContentItemClass">AWAY</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass" style="padding-top: 0;">(ANANÁS, MANGA E MENTA)</p>
<p class="chapterContentPriceClass" style="padding-top: 0;"> </p>

<p class="chapterContentItemClass">KIZZ</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass" style="padding-top: 0;">(MENTA)</p>
<p class="chapterContentPriceClass" style="padding-top: 0;"> </p>

<p class="chapterContentItemClass">MI AMOR</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass" style="padding-top: 0;">(ANANÁS, BANANA E MENTA)</p>
<p class="chapterContentPriceClass" style="padding-top: 0;"> </p>