<p class="chapterContentItemClass">TREMOÇOS</p>
<p class="chapterContentPriceClass">0,50 €</p>

<p class="chapterContentItemClass">AMENDOINS</p>
<p class="chapterContentPriceClass">0,50 €</p>

<p class="chapterContentItemClass">AMENDOINS C/ MEL E SAL</p>
<p class="chapterContentPriceClass">1 €</p>

<p class="chapterContentItemClass">BATATA FRITA PALITO</p>
<p class="chapterContentPriceClass">2,50 €</p>

<p class="chapterContentItemClass">BATATA FRITA RÚSTICA</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">PÃO C/ MANTEIGA DE ALHO</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">PÃO ALHO C/ QUEIJO E PEPPERONI</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">PÃO ALHO C/ QUEIJO E BACON</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">MOZARELLA STICKS</p>
<p class="chapterContentPriceClass">5 €</p>

<p class="chapterContentItemClass">CAMEMBERT BITES</p>
<p class="chapterContentPriceClass">5 €</p>

<p class="chapterContentItemClass">NUGGETS</p>
<p class="chapterContentPriceClass">5 €</p>

<p class="chapterContentItemClass">ASINHAS DE FRANGO</p>
<p class="chapterContentPriceClass">5,50 €</p>