<p class="chapterContentItemClass">MARACUJÁ</p>
<p class="chapterContentPriceClass">3,50 €</p>

<p class="chapterContentItemClass">TANGERINA</p>
<p class="chapterContentPriceClass">3,50 €</p>

<p class="chapterContentItemClass">PESCADOR</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">ABSINTO</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">GARRAFA DE MARACUJÁ</p>
<p class="chapterContentPriceClass">17,50 €</p>

<p class="chapterContentItemClass">GARRAFA DE TANGERINA</p>
<p class="chapterContentPriceClass">17,50 €</p>

<p class="chapterContentItemClass">GARRAFA DE PESCADOR</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass">GARRAFA DE ABSINTO</p>
<p class="chapterContentPriceClass">20 €</p>

<p class="chapterContentItemClass">PONCHA DE 4L</p>
<p class="chapterContentPriceClass">65 €</p>

<p class="chapterContentItemClass">PONCHA DE 8L</p>
<p class="chapterContentPriceClass">120 €</p>