<p class="chapterContentItemClass">ÁGUA 0.50L</p>
<p class="chapterContentPriceClass">1 €</p>

<p class="chapterContentItemClass">ÁGUA DAS PEDRAS</p>
<p class="chapterContentPriceClass">1,20 €</p>

<p class="chapterContentItemClass">ÁGUA DAS PEDRAS LIMÃO</p>
<p class="chapterContentPriceClass">1,50 €</p>

<p class="chapterContentItemClass">ÁGUA DAS PEDRAS MARACUJÁ</p>
<p class="chapterContentPriceClass">1,50 €</p>

<p class="chapterContentItemClass">PLENO</p>
<p class="chapterContentPriceClass">1,50 €</p>

<p class="chapterContentItemClass">COCA-COLA</p>
<p class="chapterContentPriceClass">1,80 €</p>

<p class="chapterContentItemClass">COCA-COLA ZERO</p>
<p class="chapterContentPriceClass">1,80 €</p>

<p class="chapterContentItemClass">ICE TEA</p>
<p class="chapterContentPriceClass">1,80 €</p>

<p class="chapterContentItemClass">SUMOL</p>
<p class="chapterContentPriceClass">1,80 €</p>

<p class="chapterContentItemClass">ÁGUA TÓNICA</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">GINGERALLE</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">REDBULL</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">SUMO DE LARANJA NATURAL</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">LIMONADA</p>
<p class="chapterContentPriceClass">3 €</p>