<p class="chapterContentItemClass">MARTINI ROSSO</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">JAGERMEISTER</p>
<p class="chapterContentPriceClass">2,50 €</p>

<p class="chapterContentItemClass">MACIEIRA</p>
<p class="chapterContentPriceClass">2 €</p>

<p class="chapterContentItemClass">DONA ANTONIA 10 ANOS</p>
<p class="chapterContentPriceClass">3 €</p>

<p class="chapterContentItemClass">CR&F</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">LIMONCELLO VILLA MASSA</p>
<p class="chapterContentPriceClass">4 €</p>

<p class="chapterContentItemClass">MARTINI BIANCO</p>
<p class="chapterContentPriceClass">5 €</p>

<p class="chapterContentItemClass">PORTO CRUZ LAGRIMA</p>
<p class="chapterContentPriceClass">5 €</p>