@import url("variables.css");

body {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-background-color);
}

footer {
    margin: 20px 0 10px;
    width: 100%;
    border-top: 1px solid var(--footer-border-color);
    font-size: var(--footer-font-size);
}

footer > p {
    margin: 4px 0 4px;
}

footer > a:hover {
    color: var(--footer-link-hover-font-color);
}

footer,
footer > a {
    color: var(--footer-font-color);
}