@import url("variables.css");

.mainTitleClass {
    margin: 125px 0 50px;
    width: var(--logo-width);
    max-width: var(--base-max-width);
}

.menuClass {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    width: var(--menu-width);
    max-width: var(--base-max-width);
}