.darkTheme {

    /* COLOR */

    --body-background-color: #000000;
    --chapter-title-background-color: linear-gradient(to right bottom, #3C6A50, #F7E7CE, #F7E7CE, #3C6A50);
    --chapter-title-background-color-hover: linear-gradient(to right bottom, #3A6A59, #F1D4A7, #F1D4A7, #3A6A59);
    --chapter-title-shadow-color: #B9C8BC;
    --chapter-title-shadow-color-hover: #A7A88A;
    --chapter-item-border-color: #F7E7CE;
    --footer-border-color: #787878;

    /* FONT STYLING */

    --chapter-title-font-family: "Fira Sans", serif;
    --chapter-title-font-style: italic;
    --chapter-title-font-weight: bold;
    --chapter-title-font-shadow: -2px -2px #B9C8BC;
    --chapter-title-font-color: #121212;
    --chapter-item-font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    --chapter-item-font-style: normal;
    --chapter-item-font-weight: normal;
    --chapter-item-font-shadow: none;
    --chapter-item-font-color: #dedede;
    --footer-font-color: #ababab;
    --footer-link-hover-font-color: #F7E7CE;

    /* FONT SIZING */

    --chapter-title-font-size: 24px;
    --chapter-content-font-size: 18px;
    --footer-font-size: 10px;

    /* AREA SIZING */

    --base-max-width: 600px;
    --logo-width: 100%;
    --menu-width: 100%;
    --chapter-width: 100%;
    --chapter-title-width: 100%;
    --chapter-content-width: 90%;
    --chapter-content-padding: 10px 2px;

    /* BOTTON STYLING */

    --chapter-title-border-radius: 10px 90px 10px / 50px 100px;
}